<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Detalhes</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section>
            <article>
                <div>
                    <p><%=livro.name%></p>
                </div>
                    
                <div>
                    <img src="<%=livro.cover%>" />
                </div>
                <div>
                    <ul>
                        <li>
                            <%=livro.editor%>
                        </li>
                        
                        <li>
                            <%=livro.year%>
                        </li>
                        <li>
                            <%=livro.language%>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <%=livro.autor%>
                        </li>
                        <li>
                            <%=livro.genero%>
                        </li>
                    </ul>
                </div>
                <div class="card_actions">
                    <ul>
                        <li><a href="/delete/<%=livro.id%>">Excluir</a></li>
                    </ul>
                </div>
            </article>
        </section>

        
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>